* {
  margin: 0;
  padding: 0;
}

:root {
  --font-family-base: 'SF Pro Display';
}

.background-geo {
  background-image: url('assets/Background-Geometric.jpg');
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.75
  ); /* Adjust the opacity by changing the last value (0.5) */
  z-index: -1;
}

.nav-link {
  font-family: SF Pro Display;
  color: white;
}

.nav-link:hover {
  color: #b5a997;
  font-family: SF Pro Display;
}

.name-minor {
  font-family: SF Pro Display;
  color: white;
  font-size: 50px;
}

.name-main {
  font-family: SF Pro Display;
  background: linear-gradient(to right, #e65764, #f5ad4f);
  font-size: 180px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
