* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --font-family-base: 'SF Pro Display';
}

@font-face {
  font-family: 'Goku';
  src: url('assets/Font-Style/Goku-Regular.woff2') format('woff2'),
      url('assets/Font-Style/Goku-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.background-geo {
  background-image: url('assets/abstract.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
.overlay {
  position: fixed;
  top: 2px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.85
  ); 
  background-blend-mode: soft-light;
  z-index: -1;
}

.nav-link {
  font-family: 'Zuume';
  font-style: oblique;
  font-size: 23px;
  color: whitesmoke;
}

.nav-link:hover {
  color: #525ceb;
  font-family: 'Zuume';
}

.glass-navbar {
  background: rgba(46, 46, 46, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
}

#landing-name {
  margin-top: 120px;
  font-family: 'Goku';
  font-style: oblique;
  color: whitesmoke;
  font-size: 130px;
  line-height: 130px;
  cursor: default;
}

#description {
  font-family: SF Pro Display;
  color: whitesmoke;
  font-size: 20px;
  margin-top: 30px;
  cursor: default;
}

#below-text {
  color: whitesmoke;
}

#main-line {
  width: 100px;
  height: 5px; 
  background-color: #525ceb; 
  margin-bottom: 10px;
  transition: 0.5s;
  margin-top: 30px;
}

#main-line:hover {
  width: 300px;
}

#arrow-down {
  margin-top: -20px;
  color: #525ceb;
  font-size: 70px;
  text-decoration: none;
  transition: 0.5s;
  display: flex;
}

#arrow-down:hover {
  transform: translateY(50px);
  color: whitesmoke;
}

#test-2 {
  height: 500px;
  margin-top: 120px;
  display: flex;
  align-items: center; 
  justify-content: center; 
  background: rgba(46, 46, 46, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid rgba(255, 255, 255, 0.47);
  transition: 1s;
  transform: scalex(-1);
}

#main-image {
  height: 700px;
  transition: 0.5s;
  padding: none;
}

#main-image:hover {
  transform: scale(110%);
  padding: none;
}

#test-2:hover {
  transform: scale(90%);
}
#about-me {
  height: 700px;
  margin-top: 150px;
  cursor: default;

  #about-me-text {
    font-family: Goku;
    font-style: oblique;
    color: whitesmoke;
    font-size: 100px;
    line-height: 110px;
    padding: none;
  }

  #about-line {
    width: 200px;
    height: 5px; 
    background-color: #525ceb; 
    transition: 0.5s;
    padding: none;
  }

  #about-line:hover {
    width: 300px;
  }

  #box-about {
    height: 500px;
    margin-top: 50px;
    background: rgba(46, 46, 46, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(255, 255, 255, 0.47);
    transition: 1s;
    overflow: hidden;
    display: flex;
    align-items: center; 
    justify-content: center; 
    
  }

  #aboutpara {
    font-family: 'SF Pro Display', sans-serif;
    color: whitesmoke;
    font-size: calc(300px / 15);
    max-width: 80%; 
    line-height: 1.5;
    text-align: center; 
  }

  @media (max-width: 767px) {
    #aboutpara {
      font-size: 16px; 
    }

    #box-about {
      height: 700px;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 4px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #525ceb;
}

#landing-project {
  color: white;
  font-size: 80px;
  font-family: Goku;
  font-style: oblique;
  margin-top: 30px;
  cursor: default;
}

#projects-line {
  width: 100px;
  height: 5px; 
  background-color: #525ceb; 
  transition: 0.5s;
  margin-top: 0px;
}

#projects-line:hover {
  width: 300px;
}

.first-number,
.second-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: Goku;
  font-style: oblique;
  color: whitesmoke;
  font-size: 60px;
  line-height: 130px;
  transition-duration: 0.5s;
  cursor: default;
}

.first-number:hover,
.second-number:hover {
  color: #525ceb;
  transform: scale(120%);
}

#first-box {
  height: 400px;
  background: rgba(46, 46, 46, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid rgba(255, 255, 255, 0.47);
  transition: 1s;
  overflow: hidden;
  cursor: default;
}

#second-box {
  height: 350px;
  background: rgba(46, 46, 46, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid rgba(255, 255, 255, 0.47);
  transition: 1s;
  overflow: hidden;
  cursor: default;
}

#first-title,
#second-title {
  font-size: 30px;
  font-family: Goku;
  color: whitesmoke;
  font-style: oblique;
  margin-left: 30px;
  margin-top: 20px;
  cursor: default;
}

#first-line,
#second-line {
  width: 50px;
  height: 5px; 
  background-color: #525ceb; 
  transition: 0.5s;
  margin-top: 0px;
  margin-left: 30px;
}

#first-line:hover,
#second-line:hover {
  width: 100px;
}

#first-para,
#second-para {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 20px;
  color: whitesmoke;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 14px;
  cursor: default;
}

#first-python,
#first-javascript,
#first-html,
#first-node,
#first-smtp {
  background-color: #525ceb;
  font-family: 'SF Pro Display', sans-serif;
  margin-left: 30px;

  margin-top: 30px;
  transition: 0.5s;
  cursor: default;
  cursor: default;
}

#first-python:hover,
#first-javascript:hover,
#first-html:hover,
#first-node:hover,
#first-smtp:hover {
  transform: translateY(-30px);
}

@media (max-width: 1399px) {
  #first-para,
  #second-para {
    font-size: 19px; 
  }
}

@media (max-width: 1399px) {
  #first-para,
  #second-para {
    font-size: 17px; 
  }
}

@media (max-width: 991px) {
  #first-para,
  #second-para {
    font-size: 15px; 
  }
}

@media (max-width: 768px) {
  #first-para,
  #second-para {
    font-size: 15px; 
  }

  #first-box {
    height: 450px;
  }

  #second-box {
    height: 450px;
  }

  #first-html {
    display: none;
  }
}



#ext-link {
  color: #525ceb;
  position: fixed;
  top: 30px;
  right: 40px;
  transition: 0.5s;
  cursor: pointer;
}

#ext-link:hover {
  color: whitesmoke;
  transform: scale(130%);
 
}


#form-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 550px;
  background: rgba(46, 46, 46, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid rgba(255, 255, 255, 0.47);
  transition: 1s;
  overflow: hidden;
}

#actual-form {
  width: 100%; 
  max-width: 1000px;
}


#form4Example3 {
  height: 200px;
  max-height: 250px; 
  resize: none; 
}

#send-button {
  background-color: #525ceb;
  font-family: "SF Pro Display", sans-serif;
}

#send-button:hover {
  background-color: whitesmoke;
  color: #525ceb;
}




#first-social {
  color: white;
  text-decoration: none;
  cursor: pointer;
  background-color: #525ceb;

  border-radius: 1cqmin;
  font-family: Zuume;
  font-size: 20px;
  
}

#project-git {
  color: white;
  text-decoration: none;
  cursor: pointer;
  background-color: #525ceb;
  margin-top: 10px;
  border-radius: 1cqmin;
  font-family: Zuume;
  font-size: 20px;
  
}

#second-social {
  color: white;
  text-decoration: none;
  cursor: pointer;
  background-color: #525ceb;
  margin-left: 30px;
  border-radius: 1cqmin;
  font-family: Zuume;
  font-size: 20px;
}

#third-social {
  color: white;
  text-decoration: none;
  cursor: pointer;
  background-color: #525ceb;
  margin-left: 30px;
  border-radius: 1cqmin;
  font-family: Zuume;
  font-size: 20px;
}

#contact-icon {
  padding-right: 10px;
}

@media (max-width: 509px) {
  #first-social {
    display: none;
  }

  #second-social {
    margin-left: 0px;
  }
}



#success-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 550px;
  background: rgba(46, 46, 46, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid rgba(255, 255, 255, 0.47);
  transition: 1s;
  overflow: hidden;
}

#text-submission {
  color: whitesmoke;
  font-size: 40px;
  font-family: Zuume;
  font-style: oblique;
}

#success-line {
  width: 100px;
  height: 5px; 
  background-color: #525ceb; 
  transition: 0.5s;
  margin-top: -20px;
}

#go-home{
  color: white;
  text-decoration: none;
  cursor: pointer;
  background-color: #525ceb;
  border-radius: 1cqmin;
  font-family: Zuume;
  font-size: 25px;
  transition: 0.5s;
  margin-top: 30px;
  
}

#go-home:hover {
  background-color: whitesmoke;
  color: #525ceb;
}


@media (max-width: 767px) {
  #ext-link {
    display: none;
  }
}


@media (max-width: 767px) {
  .overlay {
    background-color: rgba(
      0,
      0,
      0,
      0.80
    ); 
    background-blend-mode: soft-light;
    z-index: -1;
  }

  #form-box {
    
    border: 0px solid rgba(255, 255, 255, 0.47);
   
  }

}

@media (max-width: 1199px) {

  #form-box {
      
    border: 0px solid rgba(255, 255, 255, 0.47);
  
  }

}

@media (max-width: 991px) {
  #languages-icon,
  #tech-icons {
      display: none;
  }
}

#skill-icon {
  width: auto;
}